.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 100;
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-color: rgba(49, 49, 49, 0.8);
    .model__content {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.4;
      background: #f1f1f1;
      padding: 14px 28px;
      border-radius: 3px;
      width: 600px;
      max-width: 600px;
      min-height: 300px;
      .nav_model {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
          font-size: 20px;
          font-weight: bold;
          font-style: oblique;
        }
        .btn__cacel {
          font-size: 25px;
          cursor: pointer;
          color: red;
        }
      }

      .card__load {
        position: relative;
        border: dotted 2px gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(183, 240, 221);
        min-height: 200px;
        .load__file {
          position: absolute;
          top: 39px;
          width: 195px;
          min-width: 170px;
          height: 46px;
          opacity: 0;
          cursor: pointer;
        }
        .btn__wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
          background-color: #f55e30;
          width: 200px;
          height: 50px;
          border: solid 1px rgba(248, 135, 6, 0.951);
          border-radius: 4px;
          text-align: center;
          cursor: pointer;

          .btn__icon {
            color: #ffffff;
            font-size: 20px;
            z-index: 5;
            cursor: pointer;
          }
          .btn__load {
            border: none;
            background: none;
            color: #ffffff;
            font-size: 20px;
            cursor: pointer;
          }
        }
        h2 {
          margin-top: 10px;
        }
      }
    }
  }
}
.active__modal {
  overflow-y: hidden;
}
